.land{
  height: 100%;
  width: 105%;
}
.end{
  background-color: rgb(18, 18, 18);
  color: whitesmoke;
  height: 60vh;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
  align-items:flex-end;
  gap: 50px;
}
.im{
}
.black{
  background-color: rgb(18, 18, 18);
 
}
#lo{
  display: none;
}
.upper_nav{
  width: 93%;
  height: 50px;
  border-radius: 10px;
  margin: 20px 15px 3% 3%;
  /* background-color: aqua; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.599);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display:flex;
  align-items: center;
  /* justify-content: space-between; */
  position:fixed;
  top:-10px;
  z-index:999;
  animation-name: uppIn;
  animation-duration: 2s;
}
.social_icons{
  margin-right: 10px;
  width: inherit;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  margin:10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(254, 255, 255);
  font-weight: bold;
  font-size: 16px;
}

.upper_btn_cv{
  text-decoration: none;
  color: white;
  margin: 10px;
}
.upper_down_btn{
  text-decoration: none;
}
.name{
  font-size: 30px;
  font-style: bold;
}
canvas{
  aspect-ratio: 1600/900;
  height: 100%;
  zoom: 100%;
}
#sidebar{
  display: flex;
  justify-content: center;
  width:100%;
  color: antiquewhite;
}

.Myimg{
  image-rendering: optimizeQuality;
  aspect-ratio: 11/13;
  width: 300px;
  filter: drop-shadow(0 0 1px black);
  /* margin-top: 50px; */
  animation-name: imgIn;
  animation-duration: 2s;
  /* display: none; */
}

#inner_name{
  font-size: 8vw;
  font-weight: bold;
  font-style: bold;
  background: linear-gradient(to right,#5307ec, #fb0303);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#inner_name1{
  font-size: 3vw;

}
.part{
  display: flex;
  flex-direction: column;
}

@keyframes uppIn {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}
#loader {
  display: block;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}